* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.7%;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
}
h3 {
  font-size: 1.7rem;
  font-weight: normal;
}
p, li, a, label {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: royalblue;
}
body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
}
header {
  margin-top: 2rem;
  display: flex;
  width: 100%;
}
header nav {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header-title {
  font-size: 2rem;
}
.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.header-right {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.logo {
  height: 3rem;
  aspect-ratio: 1/1;
}
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover h1 {
  font-size: 2.3rem;
}
.cover p {
  color: gray;
  font-size: 1.2rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects h2 {
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.projects ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects li {
  outline: 1px solid gray;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: gainsboro;
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience h2 {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.experience-info {
  outline: 1px solid gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem 3rem;
  background-color: gainsboro;
}
.experience a {
  text-decoration: none;
  color:royalblue;
}
.education {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
}
.education h2 {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.education ul {
  list-style-position: inside;
  padding: 1rem;
}
.education-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviews {
  padding: 0 3rem;
}
.reviews h2 {
  text-align: center;
  padding: 1rem;
}
.review-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.review-card {
  border: 2px solid black;
  border-radius: 2rem;
  padding: 3rem;
}
.review-card p:first-of-type {
  margin-bottom: 1rem;
}
.review-gray {
  color: gray;
}
footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.projects-page,
.articles,
.contact {
  padding: 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.projects-page-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects-page-ul li,
.contact-page-ul li {
  display: flex;
}
.projects-page-ul a,
.contact-page-ul a {
  width: 100%;
  text-align: center;
}

.articles ul {
  list-style-type: none;
}

.contact-page-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact ul {
  list-style-type: none;
}
.contact-frm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.contact-frm div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.contact-frm input {
  height: 3rem;
}
.contact-frm textarea {
  height: 10rem;
  min-width: 100%;
  max-width: 100%;
  max-height: 15rem;
  min-height: 5rem;
}
.contact-frm button {
  height: 3rem;
  width: 20%;
}

@media (min-width: 350px) {
  .contact-page-ul {
    flex-direction: row;
  }
}

@media (min-width: 550px) {
  header {
    margin: 0;
  }
  header nav,
  .header-left {
    flex-direction: row;
  }
  header nav {
    justify-content: space-between;
  }
  .header-title {
    font-size: 1.6rem;
  }
  .cover {
    margin: 5.5rem 1rem;
  }
  .cover h1 {
    font-size: 3rem;
  }
  .cover p {
    color: gray;
    font-size: 1.4rem;
  }
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    width: 100%;
    gap: 0;
  }
  .projects {
    width: 25%;
    padding: 0 1rem;
  }
  .projects h2 {
    text-align: left;
  }
  .projects li {
    outline: none;
    text-align: left;
    background-color: transparent;
  }
  .experience {
    width: 40%;
    padding: 0 1rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .experience h2 {
    text-align: left;
  }
  .experience-info {
    outline: none;
    background-color: transparent;
    padding: 1rem;
  }
  .education {
    width: 40%;
    padding: 0 1rem;
  }
  .education h2 {
    text-align: left;
  }
  .review-cards {
    flex-direction: row;
  }
}